body{
    background-color: var(--fond);
}

main {
    background-color: var(--fond);
}

h1 {
    font-family: var(--heading);
    font-size: var(--title-xxl);
    font-weight: normal;
}

h2 {
    font-family: var(--heading);
    font-size: var(--title-xl);
    font-weight: normal;
}

h3 {
    font-family: var(--heading);
    font-size: var(--title);
    font-weight: normal;
}

.text {
    font-family: var(--text);
}

a {
    text-decoration: none; 
}

.littletext {
    font-family: var(--text);
    font-size: var(--text-tiny);
}

p {
    font-family: var(--text);
    font-size: var(--text-normal);
}

.text-button {
    font-family: var(--button);
}

.main-index {
    
    margin-top: -16px;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    }



