body{
    background-color: var(--fond);
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--fond);
}

h1 {
    font-family: var(--heading);
    
    font-weight: normal;
}

h2 {
    font-family: var(--heading);
    font-size: var(--title-xl);
    font-weight: normal;
}

h3 {
    font-family: var(--heading);
    font-size: var(--title);
    font-weight: normal;
}

h4 {
    font-family: var(--heading);
}

.text {
    font-family: var(--text);
}

a {
    text-decoration: none; 
}

.littletext {
    font-family: var(--text);
    font-size: var(--text-tiny);
}

p {
    font-family: var(--text);
    font-size: var(--text-normal);
}

.text-button {
    font-family: var(--button);
}

.main-index {
    
    margin-top: -16px;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    }

.article-title {
    position: absolute;
    text-align: center;
    margin-top: -66px;
    width: 280px;
    height: 120px;
    color: white;
    background-color: var(--grey-trans);
    display: flex;
    align-items: center;
    margin-left: 12%;
    font-size: var(--title-xxl);
    justify-content: center;
}

.article-intro {
    margin-top: 80px;
}

.article-text {
    margin-left: 20px;
    width: 335px;
}

.article-heading {
    margin-left: 10px;
    width: 355px;
}

.article-link {
    color: black;
    text-decoration: underline;
}

.definition {
    margin-left: 20px;
}

.terme {
    margin-left: 10px;
}

.pages-intro {
    margin-left: 5px;
}

.about-title {
    margin-left: 10px;
}

.about-text {
    margin-left: 20px;
    width: 335px;
}

.error-text {
    text-align: center;
    margin-top: 83px;
}

.error-error {
    text-align: center;
    font-size: var(--title-xl);
    font-weight: bold;
}

.error-link {
    color: black;
    font-family: var(--text);
    font-size: var(--title-xl);
    font-weight: bold;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 40px;

}

.error-bar {
    border: 1px solid black;
    width: 320px;
    margin-bottom: 30px;
}

.error-name {
    font-family: var(--text);
    font-size: var(--basic);
    margin-left: 15px;
}

.error-name-eng {
    font-family: var(--text);
    font-size: var(--basic);
    margin-left:77px;
}