:root{

    /*Font Family*/
    --heading: 'Playfair Display' ;
    --text: 'Alegreya Sans';
    --button : 'Roboto';

    /*Font size*/   

    --title-xxl : 1.563rem; 
    --title-xl : 1.25rem;
    --title : 1.063rem;
    --text-normal: 1rem;
    --text-button: 0.875rem;
    --text-tiny: 0.625rem;

    /*Font Transformation*/

    --transfrom-button : small-caps;

    /* Color styles */
    --primary: rgba(1,154,155,100);
    --dark-green: rgba(4,95,95,100);
    --fond: rgba(255,242,251,100);
    --tonique: rgba(213,180,35,100);
    --grey-trans: rgba(0,0,0,0.8);
    --grey: rgba(47,47,47,1)
}


