.header {
    background-color: var(--dark-green);
    z-index: 4;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 48px;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: var(--tonique);
    justify-content: space-between;
    align-items: center;
    
}

.header--menu {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: none;
    background-color: transparent;
    display: flex; 
    margin-right: 30px;
}

.header--nav {
    visibility: hidden;
    display: block;
    position: fixed;
}

.header--logo {
    margin-left: 30px;
}