.header-page {
    background-color: var(--primary);
    margin-top: 48px;
    display: flex;
    line-height: center;
    text-align: center;
    min-height: 630px;
    color: white;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: var(--tonique);
    padding-left: 6.13%; 
    padding-right: 6.13%;
}

.header-page-div-1 {
    line-height: 6px;
    margin-bottom: 126px;
    margin-top: 49px;
}

.header-page-title {
    font-size: var(--title-xxl);
}

.header-page-sub {
    font-family: var(--heading);
    font-size: var(--title-xl);
}

.header-page-div-2 {
    line-height: 6px;
    margin-bottom: 98px;
}

.header-page-term {
    font-family: var(--heading);
    font-size: var(--title-xl);

}

.header-page-presentation {
    font-family: var(--heading);
    font-size: var(--title-xl);
    line-height: 26px;
}

.pages-header {
    background-color: var(--primary);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    margin-top: 48px;
    border-bottom: 3px solid var(--tonique);
    
}

.pages-header-title {
    color: white;
    font-family: var(--heading);
    font-size: var(--title-xxl);
    text-align: center;
}