.header--nav {
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--grey-trans);
    transition: all .4s ease-in-out;
}

.menu--open {
    visibility: visible;
    opacity: 1;
}